/* 폰트 설정 */
@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-ExtraLight.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
* {
  font-family: "Pretendard", sans-serif !important;
}
/* 앱 기본 설정 */
#app {
  font-family: "Pretendard", sans-serif !important;
}

/* 레이아웃 관련 */
#header {
  height: 100px;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
#banner {
  height: 525px;
  border: 0px;
}
#section {
  padding-top: 100px;
}
p {
  word-break: keep-all;
}
/* 클래스 관련*/
.menu-box {
  height: 250px;
  margin-bottom: 25px;
  border: 0px;
  color: white;
}
.bg-cyan {
  background-color: #36c2ba;
}
.bg-navy {
  background-color: #223359;
}
.bg-light-gray {
  background-color: #f5f5f5;
}
.circle {
  border-radius: 100%;
  height: 20px;
  width: 20px;
}
